doctype html
html(lang='ru')
  head
    title BrainSchool
    meta(charset="utf-8")

    script(src='./script.js' defer)
    link(rel='stylesheet', type='text/css', href='./css/style.css')

    mixin header-nav(...items)
      nav
        ul
          each item in items
            li
              a(href='#')= item
  
  body
    header
      section.menu
        a(href='/')
          img(src='./img/BA_logo.png', alt='Logo')
        +header-nav('КУРСИ','КАРЄРА','BRAIN ACADEMY','BRAIN SCHOOL','КОНТАКТИ','')
        div
          a(href='') Увійти
      section
        div
          h1 Brain School
    
    main
      article.successfulChild
        h2 Як виростити успішну дитину?
        button Надіслати заявку
        h3 Brain School - школа особистісного та інформаційного розвитку
        h3 дітей і підлітків
      
      article.whyBrainSchool
        h2 Чому школа розвитку дітей Brain School?
        section
          div
            span.icon-library &#xe982
            p Перша в Україні школа з особистісного та інформаційного розвитку дітей: ваша дитина зможе реалізувати власний IT-проект
          div
            span.icon-library &#xe971
            p Досвідчені експерти і талановиті педагоги. Використання прогресивних навчальних методик і стандартів
          div
            span.icon-library &#xe921
            p Підготовка до вступу в Brain Academy і перший в Україні IT University
        p Навчальна програма центру розвитку дитини Brain School розроблена спеціально для юної аудиторії - дітей молодших класів та підлітків, щоб познайомити її з життям в сучасному інформаційному світі і продемонструвати розмаїття можливостей у ньому.
        p Курси програмування для дітей та школярів Brain School - можливість учням познайомитися з мережевими і хмарними технологіями, розробкою програмного забезпечення, програмуванням різних пристроїв і роботів, а також зробити перші кроки у розвитку своєї кар'єри раніше більшості однолітків.
        p На відміну від загальноосвітніх шкіл, що розвиває центр для дітей Brain School приділяє величезну увагу особистісним якостям і навичкам дитини, а саме - пам'яті, уваги, логіки та нестандартного мислення. Наші учні відкривають для себе секрети лідерства та ефективної комунікації.

      article.target
        h2 Мета навчання:
        div
          ul
            li 
              span Розширити кругозір дитини в області ІT-технологій
            li 
              span Виявити потенціал до IT і розвивати IT-здібності
            li 
              span Навчити максимально використовувати ІT-технології
          ul
            li 
              span Поліпшити пам'ять, активувати ресурси головного мозку
            li 
              span Розвинути швидкість, продуктивність, гнучкість мислення
            li 
              span Розвинути креативне мислення і творчу уяву

      article.capability
        h2 Завдяки Brain School Ваша дитина зможе:
        section
          div
            span.icon-library &#xe976
            p Стати провідним фахівцем, творцем інноваційних продуктів, керівником власної компанії
          div
            span.icon-library &#xe994
            p Використовувати сучасні інформаційні та інженерні технології для досягнення цілей
          div
            span.icon-library &#xe96b
            p Виробити навички самостійної і командної роботи
          div
            span.icon-library &#xe99e
            p Отримати подальшу освіту в сфері інформаційних технологій

      article.directions
        h2 Напрямки навчання:
        a#camp(href='#') + Табір 
        a#programming(href='#') + Основи програмування
        section.info
          div.groups
            h3 Групи і тривалість навчання
            p Ваша дитина може вибрати групу за своїми знаннями, а не за віком
              ul
                li  Brain Junior Learner c 7 до 9 лет
                li  Brain Middle Learner с 10 до 13 лет
                li  Brain Senior Learner с 14 до 16 лет
                li  Brain Student 13+
          div.time
            h3 Графік занять
            p Заняття проходять на вихідних днях
              ul
                li  Субота: с 11-00 до 15-00
                li  Неділя: с 11-00 до 15-00
                li  Канікули (крім літніх): c 10-00 до 17-00
        button Надіслати заявку на навчання

        section.programs
          div.wrapper
            a#junior 
              div Програма Brain Junior Learner
            a#middle 
              div Програма Brain Middle Learner
            a#senior 
              div Програма Brain Senior Learner
          h3 Програма технічного розвитку дитини в Brain School:
            ol
              li Використання ІT в повсякденному житті
              li Хмарні технології та інтернет
              li Цифрова безпека
              li Комп'ютерні ігри
              li Інженерні винаходи
          h3 Програма особистісного та когнітивного розвитку в Brain School:
            ol
              li Розвиток уваги
              li Розвиток пам'яті
              li Розвиток логічного мислення
              li Розвиток креативного мислення і творчої уяви
              li Формування навичок планування діяльності та почуття відповідальності
              li Командна робота
          h3 Форми і методи реалізації програми:
          p аудиторні заняття, практичні, лабораторні роботи, тренінги, екскурсії, вправи, бесіди, творчі проекти і завдання, дискусії, мозковий штурм, ігри, домашні завдання тощо.

    footer
      small Making your mind brilliant!
      a(href='#')
          img(src='./img/mailicon_white.png', alt='MailTo')
      a(href='#')
          img(src='./img/fbicon_white.png', alt='Facebook')
      a(href='#')
          img(src='./img/fbicon2vk_white.png', alt='VK')
      small &copy; 2016 Brain Academy. Всі права захищені






